<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <%- include('../partials/head') %>
  </head>
  <body>
    <header>
    <%- include('../partials/header') %>
  </header>
  <div class="jumbotron">
    <h1><%= title %> Weather App</h1>
    <p>Welcome to SWE230 Weather App</p>
  </div>
    <%- include('../partials/weather-card') %>
    <footer>
    <%- include('../partials/footer') %>
  </footer>
  </body>
</html>
